extends layout

block content

    div(id="lobby", data-step="2", class="panel show")
        div(class="start-game-select")
            table
                tr
                    td
                        h3 Enter a unique Facebook ID
                    td
                        input(type="textbox", id="id")
                tr
                    td
                        h3 Enter a unique Username
                    td
                        input(type="textbox", id="username")
            div(class="btn randuser") Get Different User
            div(class="btn nav join", id="enter", data-panel="game")
                | Enter

    div(id="game", data-step="3", class="panel")
        div(id="status", class="counting")
            div(id="state") Type away!
        div(class="loading" id="loadUsers")
        div(id="race")

        div(id="ready",class="hdnpnl btn") Ready

        div(id="inputField" class="hdnpnl input")
            p(class="sentence")
            div
                textarea(readonly)
                div(id="sentence")

        div(id="again",class="hdnpnl btn") Play another

    section(id="alert", data-panel="game", class="join")
        | A live challenge is starting soon
        // span(id="alertCountdown", class="countdown") 60
        // | &nbsp;seconds
        br
        | Click here to join in the fun!